#usergreeting {
  font-size:20px;
  font-weight:bold;
}

#signout {
  text-decoration:none;
  font-weight:bold;
  color: rgb(202, 60, 60); // red
  border 1px solid black;
  border-radius: 4px;
  spacing:2px;
}

#signin {
  text-decoration:none;
  font-weight:bold;
  color: rgb(28, 184, 65); // green 
  border 1px solid black;
  border-radius: 4px;
  spacing:2px;
}

.auth-switch { 
  margin:5px; 
  padding:5px;
}

.auth-switch form { 
  display: inline-block; 
}

.auth-switch input[type=button] { 
  text-transform:capitalize; 
}

input[type=button].enable-auth { 
  background: rgb(202, 60, 60); // red
  color: white;
  border-radius: 4px;
}

input[type=button].disable-auth { 
  background: rgb(28, 184, 65); // green 
  color: white;
  border-radius: 4px;
}
